<footer class="bg-dark text-center py-2 fixed-bottom">
    <div class=" container text-light">
        © 2023 Copyright:
      <a class="text-light" href="/campgrounds"> CampGround.io</a>
    </div>
  </footer>